<div class="menu">
  {{#if session.isAuthenticated }}
    <a href='#'{{action 'invalidateSession'}}>Logout</a>
    {{#link-to 'products'}}Products{{/link-to}}
    <p>{{session.currentUser}}</p>
    {{#link-to 'products.new'}}New{{/link-to}}
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>
<div class="flash-messages">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>
<div class="main">
  {{outlet}}
</div>
